body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: unset;
}

/* стили для плавного перехода по роутам */
.smooth-route-enter {
  opacity: 0;
}

.smooth-route-enter-active {
  opacity: 1;
  transition: all 300ms linear;
}

.smooth-route-exit {
  opacity: 1;
}

.smooth-route-exit-active {
  opacity: 0;
  transition: all 300ms linear;
}

/* стили для тостера */
#toast-container {
  margin-top: calc(64px);
  margin-right: 1rem;
}

#toast-container > .toast {
  max-width: 570px;
  min-width: 350px;
  border-radius: 4px;
}

#toast-container > .toast-success {
  background-color: #fdc200;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#toast-container > .toast-success:hover {
  background-color: #fdc200;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#toast-container > .toast-error {
  background-color: #e57373;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#toast-container > .toast-error:hover {
  background-color: #e57373;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* стили для скроллбара */
::-webkit-scrollbar {
  width: 1.6rem; /* ширина для вертикального скролла */
  height: 1.6rem; /* высота для горизонтального скролла */
}

::-webkit-scrollbar-track {
  background-color: #1565c03a;
}

::-webkit-scrollbar-thumb {
  background-color: #1565c0;
  border: 0.45rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 0.7rem;
}

.menuLink {
  color: #1565c0;
  height: 100%;
  text-transform: uppercase;
  align-items: center;
  padding: 0 3px;
  display: inline-block;
  line-height: 2;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  margin: 0 auto;
}

.menuLink:after {
  display: block;
  content: "";
  background-color: orange;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menuLink:hover:after,
.menuLink:focus:after {
  width: 100%;
}

@media (max-width: 1280px) {
  .menuLink {
    font-size: 12px;
  }
}

@media (max-width: 960px) {
  ListItem {
    padding: 0;
  }
}
